<section class="menu">
  <!--　パララックス -->
    <div class="fixed-bg">
        <h2 class="section-title fixed-bg-title">MENU</h2>
        <div class="fixed-bg-attachment">
          <figure class="fixed-bg-image">
            <img src="../img/menu.jpg" alt="エスプレッソマシンから抽出されたコーヒーが赤いカップに注がれている">
          </figure>
        </div>
    </div>
    <div class="container">
         <!-- menu表 -->
     <div class="menu-list-body">
        <div class="menu-list-wrapper">
            <!-- COFFEE -->
            <div class="menu-list-box menu-list-box--coffee">
                <div class="section-head-wrap">
                  <h3 class="section-head theme-under-line">COFFEE</h3>
                </div>
                <dl class="menu-list">
                  <% menuData.coffee.forEach((item) => { %>
                    <div class="menu-data-wrap">
                    <dt class="menu-list-name"><%= item.name %></dt>
                    <dd class="menu-list-price">￥<%= item.price %></dd>
                    </div>
                  <% }) %>
                </dl>
              </div>

      <div class="menu-side-list-wrapper">
      <!-- FOOD -->
      <div class="menu-list-box  menu-list-box--food">
        <div class="section-head-wrap">
          <h3 class="section-head theme-under-line">FOOD</h3>
        </div>
          <dl class="menu-list">
            <% menuData.food.forEach((item) => { %>
                <div class="menu-data-wrap">
                    <dt class="menu-list-name"><%= item.name %></dt>
                    <dd class="menu-list-price">￥<%= item.price %></dd>
                 </div>
            <% }) %>
          </dl>
     </div>
     <!-- OTHER -->
    <div class="menu-list-box menu-list-box--other">
      <div class="section-head-wrap">
        <h3 class="section-head theme-under-line">OTHER</h3>
      </div>
          <dl class="menu-list">
            <% menuData.other.forEach((item) => { %>
                <div class="menu-data-wrap">
                    <dt class="menu-list-name"><%= item.name %></dt>
                    <dd class="menu-list-price">￥<%= item.price %></dd>
                 </div>
         <% }) %>
          </dl>
    </div>
      </div>
        </div>
     </div>
    </div>
</section>